 @media screen and (max-width : 1198px) {


 .thanks {
    margin-top: auto;
 }
  .copyright{
      display: flex;
      margin-left: 883px;
  }

   
 }

 @media screen and (max-width : 1172px){

    .thanks {
        margin-left: -20px;
     }


 }

 @media screen and (max-width : 1152px){
 
      .copyright{
        margin-left: 871px;
      }

 }

 @media screen and (max-width : 1140px){

    .copyright{
        margin-left: 850px;
      }

 }

 @media screen and (max-width : 1120px){

    .copyright{
      
      }

      .thanks {
      
     }

     
  .fabout{


   
}
.faboute{


  
}


.aboutcoln{



}



.fhelp{
  
  }
   .fhelpe{
    
     
  
   }
   .helpcoln{
   
  }





 }







































