 @media screen and (max-width : 1198px) {


 .thanks {
    margin-top: auto;
 }
  .copyright{
      display: flex;
      margin-left: 883px;
  }

   
 }

 @media screen and (max-width : 1172px){

    .thanks {
        margin-left: -20px;
     }


 }

 @media screen and (max-width : 1152px){
 
      .copyright{
        margin-left: 871px;
      }

 }

 @media screen and (max-width : 1140px){

    .copyright{
        margin-left: 850px;
      }

 }

 @media only screen and (max-width: 1120px) and (min-width: 1039px)  {
  
    .fcontainer{
        margin-left: 141px;
    }


.fhelp{
    margin-left: -838px;
  
  }
  

 .fsocial{
    margin-left: -680px;

   }


  .verticalline {
    margin-left: 116px;
  
  }

  .fmail{
    margin-left: -510px;

   }

    
 .mess{

    margin-left: -202px;
margin-top: -100px;

}


}



@media only screen and (max-width: 1038px) and (min-width: 811px) {

     footer{

   height: 30vh;
     }



     .fcontainer{

      margin-left: 104px;
    }


.fhelp{
    margin-left: -848px;
  
  }
  

 .fsocial{
    margin-left: -689px;


   }


  .verticalline {

    margin-left: 102px;
  
  }

  .fmail{
    margin-left: -564px; 

   }

    
 .mess{

    margin-left: -703px;
    margin-top: 69px;
    font-size: larger;
    

}

   .logo{
    margin-left: -19px;
    margin-top: 9px;
    font-size: larger;
   }

 nav{


    display: flex;
    flex-direction: row;
 }

  .navbar{
      padding-inline: -52px;
      margin-left: -23px;
  }

  .search {
    margin-left: -10px;
    height: 85px;
    width: 10px;



  }

  .searchbtn{

margin-left: 210px;
margin-top: 18px;


  }
   .loginbox{
    margin-left: 25px;
    margin-top: 16px;

   }


}



@media only screen and (max-width: 810px) and (min-width: 800px) {


  footer{

    height: 30vh;
      }
 
 
 
      .fcontainer{
        margin-left: 108px;
       
     }
 
 
 .fhelp{
  margin-left: -848px; 
   
   }
   
 
  .fsocial{
     
    margin-left: -693px;
 
    }
 
 
   .verticalline {
 
    margin-left: 115px;
   
   }
 
   .fmail{

    margin-left: -548px;
   
 
    }
 
     
  .mess{
 
    margin-left: -692px;
    margin-top: 46px;
    font-size: larger;
    
     
 
 }
 
    .logo{

     margin-left: -19px;
margin-top: 9px;
font-size: larger;
    }
 
  nav{
    display: flex;
 
  }
 
  
   .search {
   
    margin-left: -59px;
    width: 293px;
 
 
   }
 
   .searchbtn{
 
    margin-top: 19px;
 
 
   }
    .loginbox{
      margin-top: 17px;
 
    }
 
 
 }
 

 @media only screen and (max-width: 800px) and (min-width: 756px){


 

  footer{

    height: 30vh;
      }
 
 
 
      .fcontainer{
        margin-left: 114px;
       
     }
 
 
 .fhelp{
  margin-left: -843px;
   
   }
   
 
  .fsocial{
     
    margin-left: -681px;
 
    }
 
 
   .verticalline {
 
    margin-left: 118px;
   
   }
 
   .fmail{

    margin-left: -509px;
   
 
    }
 
     
  .mess{
 
    margin-left: -700px;
margin-top: 57px;

font-size: larger;
     
 
 }
 
    .logo{

      maRGIN-left: -12px;
      margin-top: 9px;
      font-size: larger;
    }
 
  nav{
    display: flex;
 
  }
 
  
   .search {
   
    margin-left: -49px;
    width: 250px;
 
   }
 
   .searchbtn{
 
    margin-top: 18px;
 
 
   }
    .loginbox{
     
      margin-top: 16px;
      margin-left: -14px;
    }
 
 
 }


 @media only screen and (min-width: 375px) {
   

    nav ul {
      height: 28vh;
    }

    .logo{

      margin-left: 117px;
      margin-top: -118px;
    
    }
    .logo img {
      height: 21px;

       width: 85px;

    }
 
  nav{
  
 
  }
 
  
   .search {
   
    
 
   }
 
   .searchbtn{
 
   
 
 
   }
    .loginbox{
     
     
    }
 




























































 }
 







































































































 
















































