
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,200&family=Roboto:ital,wght@1,100&family=Zen+Old+Mincho&display=swap');

*{
     padding: 0;
     margin: 0;
 }
 body {

    background-color:  #f0f0f0;
 }
  header {
      background-color: #2874f0;;

   
 
  }
   nav {
       display:  flex;
      
   }
    .logo{
        display: flex;
        align-items: center;

    }
    .logo img {

        padding: 0 32px;
        width: 63px;
    }
  nav ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      list-style: none;
         height: 8vh;
    }
   
  
    nav ul li a {
        color: white;
     text-decoration: none;
      padding:  0 18px;
     
    }
    nav ul li a:hover{
     color: rgb(196, 211, 173);
    }

    .search{
        display: flex;
        align-items: center;
       
       
    }
     .search input {
         width: 400px;
         height: 22px;
         border-radius: 1px;
         margin-left: 62px;
         padding-left: 12px;
     }
     .searchbtn{
         
         padding-top: 11px;
         cursor:pointer;
         padding-left: 0px;
         
     }
     .loginbox{

 
 padding-left: 80px;
 padding-top: 11px;
 
    }
.logintext{

 color: #2874f0;
    margin-left: -60px;
    margin-top: -9PX;


}
      .login {

         display: flex;
       
         align-items: center;
      
    padding-left: 80px;
    padding-top: 11px;
    
    
    height: 28px;
    width: 90px;
    color: blue;
    font-size: larger;
    cursor: pointer;
      }
     
 

  main{

    height: 2000px;
  }

     .ecommerce{
         display: flex;
         justify-content: center;
         margin-top: 12px;
     }
      .header{
         display: flex;
        
         background-color: #fff ;
      margin-left: 23px;
      margin-right: 23px;
     
     
        margin-top:25px ;
      }
      .topic {
          padding-left: 38px;
          font-family: 'Zen Old Mincho', serif;
      }

   .slide {

    display:  flex;
    
     margin-top: 20px;
    justify-content: center;
   margin-left: 23px;
   margin-right: 23px;
   height: 190px;
   margin-top:3px ;
 
   
   background-color: #fff;

    }
     .carditem{

     
     width: 140px;
     margin: auto;
     transition: .5s;

     }
     .carditem:hover{
     transform: scale(1.03);
     border: 1px solid #f0f0f0;
     }
     .carditem img {
margin-left: 18px;
     }
     .linesitem {
         padding-left: 15px;
         font-size: large;
     }
     .linesitem1 {
        padding-left: 21px;
        font-size: medium;
    }
    .linesitem2 {
        padding-left: 12px;
        font-size: small;
    }


    






     









  .flex-center{

     display:  flex;
     justify-content: center;
     align-items: center;
     font-family: 'Noto Serif Display', serif;

  
  }
   footer{
    background-color: #2874f0;;
    color: white;
    height: 12vh;

   }