
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,200&display=swap');

*{
     padding: 0;
     margin: 0;
 }
  header {
      background-color: #2874f0;;

   
 
  }
   nav {
       display:  flex;
      
   }
    .logo{
        display: flex;
        align-items: center;

    }
    .logo img {

        padding: 0 32px;
        width: 63px;
    }
  nav ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      list-style: none;
         height: 8vh;
    }
   
  
    nav ul li a {
        color: white;
     text-decoration: none;
      padding:  0 18px;
     
    }
    nav ul li a:hover{
     color: rgb(196, 211, 173);
    }

    .search{
        display: flex;
        align-items: center;
       
       
    }
     .search input {
         width: 400px;
         height: 22px;
         border-radius: 1px;
         margin-left: 62px;
         padding-left: 12px;
     }
     .searchbtn{
         
         padding-top: 11px;
         cursor:pointer;
         padding-left: 0px;
         
     }
     
 

  main{

   height : 82vh;
       
  }

     .ecommerce{
         display: flex;
         justify-content: center;
         margin-top: 12px;
     }
     .ecommerce img {
        
     }











































  .flex-center{

     display:  flex;
     justify-content: center;
     align-items: center;
     font-family: 'Noto Serif Display', serif;

  
  }
   footer{
    background-color: #2874f0;;
    color: white;
    height: 12vh;

   }
